// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$light-yellow: #fceb9c;
$orange: #e67e22;
$light-orange: #faac54;
$green: #1edd88;
// $light-green: #a3e893;
$light-green: #97c475;
$light-brown: #d19b62;
$light-beige: #ffe5ca;
$brown: #895f33;
$gray: #0e0000;
$light-gray: #f3f3f3;
