<div id="modalForm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-modal-dog-target="modal">
  <div class="modal-dialog modal-dialog-centered modal-xl mt-5">
    <div class="modal-content">
      <div class="modal-header position-relative d-flex justify-content-between">
        <h5 class="modal-title">Ajouter un chien</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= render "form", dog: dog %>
        </div>
      </div>
    </div>
  </div>
</div>
