<div class="container mt-3" id="home-dogs">
  <div class="cards align-items-center d-flex flex-column" data-controller="modal-dog" data-modal-dog-target="dogs">
    <%= render "form", dog: @dog %>
    <% @dogs.each do |dog| %>
      <%= render 'dog', dog: dog %>
    <% end %>
  </div>
</div>
