<h2 class="font-weight-bold font-monospace"><i class="fa-solid fa-paw"></i> <%= current_user.money %> Doogies</h2>
<div class="d-flex align-items-center" style="gap: 21px">

  <% 5.times do |position| %>
    <div class="d-flex flex-column align-items-center">
      <div class="mb-2" style="font-weight: 600;"><%= 50*position %></div>
      <div class="<%= logodoggies_class(position) %> d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-paw" style="color: #ffffff;"></i>
      </div>
    </div>
  <% end %>
</div>
