<div class="row gap-1 doogpresent50">
  <div class="card col">
    <%= image_tag "Doogies/Os_a_macher.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Os à macher</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">3,79 €</li>
      <li class="list-group-item">3,60 €</li>
    </ul>
  </div>
   <div class="card col">
    <%= image_tag "Doogies/Dentastix.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Dentastix</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">5,99 €</li>
      <li class="list-group-item">5,70 €</li>
    </ul>
  </div>
   <div class="card col">
    <%= image_tag "Doogies/briantos.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Friandises</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">14,99 €</li>
      <li class="list-group-item">14,00 €</li>
    </ul>
  </div>
</div>
