<div class="row gap-1 doogpresent150">

  <div class="card col bg-lock">
    <%= image_tag "Doogies/Boite1.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Boite</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">66,99 €</li>
      <li class="list-group-item">59,00 €</li>
    </ul>
  </div>

   <div class="card col bg-lock">
    <%= image_tag "Doogies/Sachet1.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Sachet</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">57,99 €</li>
      <li class="list-group-item">52,19 €</li>
    </ul>
  </div>

   <div class="card col bg-lock">
    <%= image_tag "Doogies/Coupe1.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Coupe</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">56,49 €</li>
      <li class="list-group-item">53,67 €</li>
    </ul>
  </div>
</div>
