<div class="row gap-1 doogpresent100">
  <div class="card col">
    <%= image_tag "Doogies/Kong.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Kong</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">8,15 €</li>
      <li class="list-group-item">7,69 €</li>
    </ul>
  </div>
   <div class="card col">
    <%= image_tag "Doogies/Kong2.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Tugger</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">11,69 €</li>
      <li class="list-group-item">9,99 €</li>
    </ul>
  </div>
   <div class="card col">
    <%= image_tag "Doogies/Kong3.png" %>
    <div class="card-body">
      <p class="card-title d-flex justify-content-center">Balle</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item1">17,39 €</li>
      <li class="list-group-item">12,99 €</li>
    </ul>
  </div>
</div>
