<div style="width: 100%; height: 200px; border-radius: 20px; box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4)"
  data-controller="course-map"
  data-course-map-markers-value="<%= @markers.to_json %>"
  data-course-map-route-value="<%= @course.route %>"
  data-course-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
