<div class="container p-3 class="modal-dialog modal-dialog-centered">
<h1>Statistique de votre courses</h1>
<h2><%= @course.name %></h2>

<div class="d-flex mb-3">
  <div class="me-auto p-2">
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
  </div>
    <div class="p-1">
      <p>
        <% if @course.trashs %>
          <i class="fa fa-trash"></i>
        <% end %>
      <p>
    </div>
    <div class="p-1">
      <p>
        <% if @course.water %>
          <i class="fa-solid fa-droplet"></i>
        <% end %>
      <p>
    </div>
    <div class="p-1">
      <p>
        <% if @course.poopbag %>
          <i class="fa-solid fa-poo"></i>
        <% end %>
      <p>
    </div>
    <div class="p-1">
      <p>
        <% if @course.familyfriendly %>
          <i class="fa-solid fa-people-group"></i>
        <% end %>
      <p>
    </div>

</div>





<p>
  <strong>Distance:</strong>
  <%= @course.distance %>
</p>


<p>
  <strong>Difficulté:</strong>
  <%= @course.difficulty %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @course.timing %>
</p>


</div>
