.dropdown-filters {
  display: inline-block;
  background-color: $light-gray;
  color: $brown;
  border: 1px solid $brown;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  position: relative;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  font-size: 20px;
  width: 110%;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    background-color: $brown;
    color: white;
  }
}

.simpleButton {
  display: inline-block;
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  background-color: $light-brown;
  color: white;
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#buttonRide {
  display: inline-block;
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  // background-color: #97c475;
  // color: black;
  background-color: $light-beige;
  color: $brown;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 80%;
  font-family: "Teachers", sans-serif !important;
}

#buttonAvis {
  display: inline-block;
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $light-gray;
  color: black;
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 30%;
}

.buttonWhite {
  display: inline-block;
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  background-color: $light-gray;
  color: $light-brown;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
