#instructions {
  position: absolute;
  margin: 20px;
  width: 90%;
  height: 35%;
  top: -15px;
  bottom: 20%;
  padding: 20px;
  background-color: #ffffffbe;
  overflow-y: scroll;
  font-family: sans-serif;
  z-index: 1;
  font-size: 1rem;
}
