.navbar {
  height: 5rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  font-size: 1.5rem;

  .nav-item {
    height: 62px;
    width: 62px;
  }

  .active {
    font-size: 2.2rem;
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    top: 15px;
  }

}
