#topbar {
  height: 7.5rem;
  position: sticky;
  top: 0;
  z-index: 10000;
  h1 {
    max-width: 220px;
    text-align: center;
  }
  .logo {
    height: 70px;
    width: 70px;
    // border-radius: 50%;
    // box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
  }

  .doogs-container {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    .doogs {
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      display: flex;
      margin-left: 0.5rem;
    }
  }
}
