.carouselRewards {
  .card {
    height: 300px;
    filter : brightness(40%);
    
    .list-group {
      list-style: none;
      text-align: center;
      .list-group-item1 {
        font-style: italic;
        text-decoration-color: red;
        text-decoration-line: line-through;
        text-decoration-style: solid;
      }
      .list-group-item {
        font-weight: bold;
      }
    }
  }
  .cardActive {
    filter : brightness(100%);
  }
}

.bg-lock {
  background-color: #d9d9d9;
}
