<div class="container">
  <div class="row justify-content-center">
    <% @rides.each do |ride| %>
      <div class="col-md-6">
        <div class="mt-4 mx-auto">
          <div class="card mb-3" style="max-width: 300px;">
            <div class="row g-0">
              <div class="col-md-4">
                <!-- Image de la ride -->
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> <%= ride.course.name %></h5>
                  <p>Temps réalisé : <%= ride.timing %> min</p>
                  <p>Distance réalisée: <%= ride.distance %>m</p>
                  <p>Money gagnée: <%= ride.money %>D</p>
                  <p class="card-text"><small class="text-body-secondary"></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
