#home-dogs {
  padding-bottom: 6rem;
  .cards {
    gap: 1rem;
    .card {
      align-items: center;
      border: none;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.4);
      border-radius: 5%;
      .dog-image {
        margin-top: 0.3rem;
        border-radius: 50%;
      }
    }
  }
}

.modal-title {
  font-size: 12px;
}

.btn-delete {
  display: inline-block;
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  background-color: $light-brown;
  color: white;
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-title-dog {
  color: $brown;
}
